* {
  box-sizing: border-box;
  margin: 0;
  font-family: FT Polar, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
/* navigation */

header {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 10px;
  align-items: center;
}
.navbar li a {
  text-decoration: none;
  padding: 30px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #40494d;
}
.circle img {
  padding: 20px;
  margin: 0 0 0 55px;
  border: 2px solid #40494d;
  border-radius: 56px;
}
.btn {
  background-color: #283337;
  padding: 20px 45px;
  border-radius: 55px;
  border: none;
  margin-left: 15px;
}
.btn a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
.wrapper {
  max-width: 1330px;
  padding: 0 25px;
  margin: 0 auto;
  position: relative;
  z-index: 50;
}

/* first section */

.intro {
  padding: 150px 70px;
  margin: 0 auto;
}
.generalic {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.text {
  margin: 0 0 80px;
}
.intro h3 {
  font-family: Times New Roman;
  font-size: 60px;
  font-weight: normal;
  color: #283337;
}
.intro p {
  font-family: Arial;
  color: #40494d;
  margin: 30px 0;
  font-size: 1.3rem;
}
.intro .btn {
  margin: 0 0 -10px;
}
.woman {
  width: 50%;
}

.logotips {
  padding-top: 100px;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logos > img {
  padding: 25px;
}

/* second section */

.content {
  display: flex;
  padding: 80px;
  margin: -80px 0 0;
  justify-content: space-between;
  width: 100%;
}
.cards {
  padding: 80px;
}
#text {
  padding: 0 40px 0 0;
  margin: 0 0 26px;
}
#text h1 {
  font-family: Times New Roman;
  font-size: 60px;
  font-weight: normal;
  color: #283337;
}
#text p {
  font-family: Arial;
  color: #40494d;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 0 26px;
}
.cont {
  padding-top: 35px;
}
.cont img {
  flex-basis: 50%;
}
.cont text {
  flex-basis: 50%;
}
.cont .btn {
  margin: 0 0 -20px;
}
.cont p a {
  font-weight: 400;
  color: #40494d;
}
.bc {
  background-color: #f3f7f4;
}

/* third section */

.results {
  padding: 220px 50px 150px;
  color: #283337;
}
.results h1 {
  font-family: Times New Roman;
  font-weight: bold;
  margin: 0 0 70px 0;
  text-align: center;
  font-size: 3.7rem;
}
.results p {
  line-height: 1.5rem;
}
.automation {
  font-family: Arial;
  font-weight: 300;
}
.automation h2 {
  margin: 0 0 20px 0;
  font-size: 3.5rem;
  text-align: center;
}
.automation p {
  text-align: center;
}

/* fourth secrion */

.video {
  padding: 150px 0;
}
.text-video {
  display: flex;
  align-items: center;
}
.koin-difference {
  width: 50%;
  padding: 0 40px 0 40px;
  color: #40494d;
}

.video-koin {
  width: 50%;
}

.koin-difference h1 {
  font-family: Times New Roman;
  font-size: 4rem;
  font-weight: bold;
  color: #283337;
}
.list {
  padding-top: 40px;
}
.list p {
  margin-bottom: 24px;
  line-height: 1.5rem;
  font-size: 18px;
}
.list h3 {
  font-family: Arial;
  font-weight: normal;
  font-size: 13px;
}
.list ul {
  margin: 24px;
  list-style-type: none;
  line-height: 40px;
  font-size: 20px;
}
.list h2 {
  font-weight: bold;
}

/* fivth section  */

.logotips2 {
  padding-top: 150px;
}
.logotips2 h1 {
  font-family: Times New Roman;
  font-weight: bold;
  text-align: center;
  margin: 80px;
  font-size: 3.7rem;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-around;
}
.journey {
  padding: 145px 0 150px;
  text-align: center;
}
.journey h1 {
  font-family: Times New Roman;
  color: #283337;
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 1;
  margin-bottom: 45px;
}
.journey h3 {
  font-family: Arial;
  font-weight: normal;
  color: #283337;
  margin-bottom: 45px;
  font-size: 2rem;
}
.bc-2 {
  background-color: #101c21;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
}
.top {
  display: flex;
  justify-content: space-between;
}

.ourproduct p {
  margin: 0 0 20px 40px;
  color: #878d90;
}
.ourproduct ul li {
  margin: 0 0 13px;
  list-style-type: none;
  color: #cfd2d3;
}
.parametrs {
  margin-bottom: 30px;
}
.ourproduct .parametrs-2 li {
  margin: 0 0 13px;
}
.top {
  display: flex;
}
.top .btn {
  margin: 45px 0;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  color: #fff;
  background-color: #101c21;
}
.mainFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
.products {
  display: flex;
  flex-direction: column;
}
.rightFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.form input {
  width: 450px;
  height: 50px;
  margin: 20px 0px;
}
.underFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.underlink ul {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.underlink ul li {
  color: #9fa4a6;
  margin: 0 30px 0;
  font-weight: 300;
}
.copyright small {
  color: #9fa4a6;
  font-weight: 300;
}

form label {
  font-size: 25px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.products {
  display: flex;
  flex-direction: column;
}
.products h3 {
  font-family: Arial;
  font-size: 16px;
  line-height: 18px;

  color: #878d90;
  margin-bottom: 10px;
}

.products  ul  li {
  font-family: Arial;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 0 0 0;

  color: #cfd2d3;
}
.products button {
  margin: 50px 0 0 -15px;
}

.secondul {
  margin-top: 50px;
}
.titleFooter {
  font-family: Arial;
  font-size: 12px;
  line-height: 17px;

  color: #878d90;
  margin-bottom: 15px;
}

.resources ul li {
  font-family: Arial;
  font-size: 12px;
  line-height: 18px;
  padding: 10px 0 0 0;

  color: #cfd2d3;
}
.support ul li {
  font-family: Arial;
  font-size: 12px;
  line-height: 18px;
  padding: 10px 0 0 0;

  color: #cfd2d3;
}
.about ul li {
  font-family: Arial;
  font-size: 12px;
  line-height: 18px;
  padding: 10px 0 0 0;

  color: #cfd2d3;
}
input {
  padding-left: 40px;
}
.label {
  font-size: 18px;
}

/* default */

.col {
  flex: 1 0 0;
}
.col-auto {
  flex: 0 0 auto;
}
.col-1 {
  flex: 0 0 8.33333333%;
}
.col-2 {
  flex: 0 0 16.66666667%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.33333333%;
}
.col-5 {
  flex: 0 0 41.66666667%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.33333333%;
}
.col-8 {
  flex: 0 0 66.66666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.33333333%;
}
.col-11 {
  flex: 0 0 91.33333333%;
}
.col-12 {
  flex: 0 0 100%;
}
.main {
  display: flex;
}
